[user]
	name = Nick Stewart
    email = nicholas4@gmail.com

[alias]
    st = status
    co = checkout

[format]
   pretty = format:%h %Cblue%cd%Creset %an %Cred%d %Cgreen%s%Creset

[color]
    ui = auto
